# Valores de sesión para CDK. No incluir claves, contraseñas ni Account IDs reales en Git.
# PowerShell:
# $env:AWS_PROFILE = 'averiqsj-dev'
# $env:CDK_DEFAULT_ACCOUNT = '123456789012'
# $env:CDK_DEFAULT_REGION = 'us-east-1'
# $env:DEPLOYMENT_STAGE = 'dev'
# node ./node_modules/aws-cdk/bin/cdk diff CuentasPagarFoundation-dev --context stage=dev --profile $env:AWS_PROFILE

AWS_PROFILE=averiqsj-dev
CDK_DEFAULT_ACCOUNT=123456789012
CDK_DEFAULT_REGION=us-east-1
DEPLOYMENT_STAGE=dev
